<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <RadzenTheme Theme="material" @rendermode="RenderModeForPage" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" /> *@
    @* <link id="theme" rel="stylesheet" href=@themeURL> *@
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ArchiBase.styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css"
        crossorigin="" />
    <HeadOutlet @rendermode="RenderModeForPage" />
</head>

<body>
    <Routes @rendermode="RenderModeForPage" />
    <div id="reconnect-modal" style="display: none;"></div>
    <script src="_framework/blazor.web.js" autostart="false"></script>
    <script src="boot.js"></script>
    <script
        src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js" crossorigin=""></script>
    @* <script src=@yandexMapsJSLink type="text/javascript"></script> *@
    <script src="https://unpkg.com/leaflet-plugins@3.4.0/layer/tile/Yandex.js"></script>
    <script src="Components/Utils/LeafletMap.razor.js"></script>
</body>

</html>

@code
{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? RenderModeForPage =>
    HttpContext.Request.Path.StartsWithSegments("/account") ? null : InteractiveServer;

    [Inject]
    private ThemeService ThemeService { get; set; }

    [Inject]
    private IConfiguration Configuration { get; set; }

    private string yandexMapsJSLink = "https://api-maps.yandex.ru/2.1/?lang=ru_RU";

    private string themeURL = "_content/Radzen.Blazor/css/material.css";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Configuration.GetValue<string>("YandexMapsApiKey") is string apiKey)
        {
            yandexMapsJSLink = $"https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey={apiKey}";
        }

        if (HttpContext != null)
        {
            var theme = HttpContext.Request.Cookies["ArchibaseTheme"];

            if (!string.IsNullOrEmpty(theme))
            {
                themeURL = $"_content/Radzen.Blazor/css/{theme}.css";
                ThemeService.SetTheme(theme, false);
            }
        }
    }
}